

<ion-header>
  <ion-toolbar>
    <center><ion-title class="Encabezado">¡Busca tu estacionamiento!</ion-title></center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-card-item><ion-card-item>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38235.987632180884!2d-70.57351433609561!3d-33.39291316862488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf193ec92835%3A0xe91ca9d3fe11f424!2sEstacionamiento!5e0!3m2!1ses!2scl!4v1662013634044!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-card-item></ion-card-item>
<center><ion-button id="play" (click)="ingresar()">Play</ion-button>
   <ion-button id="stop" (click)="ingresar()">Stop</ion-button>
   <ion-button routerLink="/pagos" expand="full" (click)="ingresar()">Pagar</ion-button></center>
</ion-content>
