<ion-header>
  <ion-toolbar>
    <ion-title>acerca</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-label>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores tenetur sint fugiat ducimus laborum commodi iure doloremque eos illo inventore. Autem quasi ipsam hic a consectetur corporis deleniti labore vitae!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique quidem reprehenderit pariatur cum asperiores adipisci facilis alias, quam sint odio mollitia culpa possimus. Et omnis magnam, libero autem dignissimos quibusdam.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Lorem ipsum dolor sit amet consectetur adipisicing elit.  
  </ion-label>
<ion-content>
  <ion-button [routerLink]="['/mapa']">Ir a estacionar</ion-button>
</ion-content>
