<ion-header>
  <ion-toolbar>
    <ion-title>configuracion</ion-title>
  </ion-toolbar>
<ion-list>
  <ion-item>
    <ion-label>Activar gps</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-butoon>Tamaño fuente</ion-item>
    <ion-item>
      <ion-label>Modo oscuro</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>mantener sesion activa</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ratione reiciendis quibusdam quod totam maiores deserunt consectetur, laboriosam fuga, earum ipsam hic eligendi repellat exercitationem error. Nesciunt numquam culpa aperiam!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum labore neque, quibusdam nostrum eaque similique. Corporis maiores nemo dignissimos ut facere nisi mollitia, error dolorem voluptatem cupiditate ipsam minima voluptatum.
</ion-list>
</ion-header>

<ion-content>

</ion-content>
<ion-footer>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est possimus tempora maiores qui impedit sunt at. Aliquam, quidem id ad tempore, dolorem distinctio vero magnam nostrum ex minus quia recusandae.
</ion-footer>
