<ion-header>
  <ion-toolbar>
    <ion-title>ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium temporibus ipsum corporis possimus! Neque magnam aut odit laudantium quidem, magni eos quaerat, in assumenda corrupti commodi atque molestiae consequuntur iure.
  
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui veniam praesentium exercitationem quas sapiente nam aspernatur dolorum, natus cumque, placeat eligendi, est recusandae. Impedit in voluptate cupiditate laboriosam laborum rem.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero quibusdam iste nulla iusto sequi deserunt optio eaque aliquam veritatis minima sapiente, repudiandae molestiae hic voluptatem molestias earum explicabo alias dolorum.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quam omnis nisi deleniti nemo nesciunt? Nihil, qui, voluptatum dolore architecto dolorem ullam saepe deleniti nisi praesentium tenetur, numquam alias dignissimos?
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis quam officia doloribus perspiciatis odit hic repellendus cumque! Ducimus velit, possimus repellendus laboriosam eligendi voluptates esse voluptas aut id vel repudiandae.
</ion-content>
