<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido a NowParking</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
   <ion-card class="animacion1"><ion-card-item><center><ion-label>¡Bienvenido {{data.usuario}}!</ion-label></center></ion-card-item>
    <ion-card-item class="loader">
  </ion-card-item>
  
  </ion-card>
  <ion-col>
    <ion-img class="logo" src="/assets/icon/auto2.png"></ion-img>
   <div class="square square-b"> <ion-button routerLink="/mapa" expand="full" (click)="ingresar()">Estacionarse</ion-button></div><!--con [routerlink]no funciona-->
  
  </ion-col>

 </ion-content>

