<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido a NowParking</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
   <ion-card class="animacion1"><ion-card-item><center><ion-label>¡Bienvenido {{data.usuario}}!</ion-label></center></ion-card-item>
    <ion-card-item class="loader">
  </ion-card-item>
  
  </ion-card>
  <ion-col>
    <ion-img class="logo" src="/assets/icon/auto2.png"></ion-img>
   <div class="square square-b"> <ion-button routerLink="/mapa" expand="full" (click)="ingresar()">Estacionarse</ion-button></div><!--con [routerlink]no funciona-->
  
  </ion-col>

  <ion-card>
    <ion-card-item>
      <div class="square"></div>
      
      <button id="play">Play</button>
      <button id="pause">Pause</button>
      <button id="stop">Stop</button>
    </ion-card-item>


  </ion-card>

 </ion-content>

